/*--------------------------------------- General Styles ---------------------------------------*/
@font-face {
    font-family: YoungSerif-Regular;
    src: url("../fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
    font-family: Outfit-Regular;
    src: url("../fonts/outfit/static/Outfit-Regular.ttf");
}
@font-face {
    font-family: Outfit-Medium;
    src: url("../fonts/outfit/static/Outfit-Medium.ttf");
}
@font-face {
    font-family: Outfit-Bold;
    src: url("../fonts/outfit/static/Outfit-Bold.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/

/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;
    background-color: #f4e6d8;
}
main > .container > .row {
    background-color: white;
}
.col > .fila1 > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.col > .fila2 {
    padding: 36px;
}
.col > .fila2 > h1 {
    font-family: YoungSerif-Regular;
    font-size: 40px;
    text-align: start;
    color: hsl(24, 5%, 18%);
}
.col > .fila2 > p {
    padding-top: 18px;
    text-align: start;
    font-size: 18px;
    font-family: Outfit-Medium;
    color: hsl(30, 10%, 34%);
}
.col > .fila3 {
    background-color: hsl(330, 100%, 98%);
    text-align: start;
    margin: 36px;
    margin-top: 0;
    padding: 36px;
    border-radius: 15px;
}
.col > .fila3 > h2 {
    color: hsl(332, 51%, 32%);
    font-family: Outfit-Bold;
    font-size: 22px;
}
.col > .fila3 > ul > li {
    font-size: 18px;
    padding: 15px;
    color: hsl(30, 10%, 34%);
    font-family: Outfit-Medium;
}
li::marker {
    color: hsl(332, 51%, 32%);
}

/*--------------------------------------- Footer Styles ---------------------------------------*/

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- Media Queries ---------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*------------------------------------------- 768px -------------------------------------------*/
@media screen and (min-width: 768px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main > .container {
        width: 800px;
    }
    main > .container > .row {
        background-color: white;
        padding: 36px;
        border-radius: 15px;
    }
    .col > .fila1 > img {
        width: 100%;
        border-radius: 15px;
    }
    .col > .fila2 {
        padding: 36px;
        padding-left: 0;
    }
    .col > .fila2 > p {
        font-size: 17px;
    }
    .col > .fila3 {
        margin: 0px;
        margin-top: 0;
        padding-bottom: 5px;
    }
    .col > .fila3 > ul > li {
        padding: 5px;
    }
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1440px -------------------------------------------*/
@media screen and (min-width: 1440px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
