/*--------------------------------------- General Styles ---------------------------------------*/
@font-face {
    font-family: YoungSerif-Regular;
    src: url("../fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
    font-family: Outfit-Regular;
    src: url("../fonts/outfit/static/Outfit-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/

/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;
    background-color: #f4e6d8;
}
main > .container> .row {
    background-color: white;
}
.col > .fila1 > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.col > .fila2{
    padding: 40px;
}
.col > .fila2>h1{
    font-family: YoungSerif-Regular;
    font-size: 40px;
    text-align: start;
}
.col > .fila2>p{
    padding-top: 18px;
    text-align: start;
    font-size: 22px; 
    font-family: Outfit-Regular;
}
/*--------------------------------------- Footer Styles ---------------------------------------*/

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- Media Queries ---------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*------------------------------------------- 768px -------------------------------------------*/
@media screen and (min-width: 768px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main > .container{
        width: 800px;;
    }
    main > .container> .row {
        background-color: white;
        padding: 40px;
        border-radius: 15px;
        
    }
    .col > .fila1 > img {
        width: 100%;
        border-radius: 15px;
    }
    .col > .fila2{
        padding: 40px;
        padding-left: 0;
    }
    .col > .fila2>p{
        font-size: 17px;        
    }
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1440px -------------------------------------------*/
@media screen and (min-width: 1440px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
